body {
  background: #f2f4f8;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 300px;
  text-align: center;
}

.input {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
